
.metadata/.plugins/org.eclipse.core.resources/.history/57/10f9d60c3a6100141e24f7d501d815ca

.metadata/.plugins/org.eclipse.core.resources/.history/78/902e7dfc396100141e24f7d501d815ca

.metadata/.plugins/org.eclipse.core.resources/.history/8e/70e3d70c3a6100141e24f7d501d815ca

.metadata/.plugins/org.eclipse.core.resources/.history/fa/f0dc87fc396100141e24f7d501d815ca

*.index

*.class

*.class

*.class

.metadata/

.metadata/.plugins/org.eclipse.cdt.core/.log
